/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/

.product-single__photo {
    height: 684px;
    width: 730px;
    object-fit: cover;
    max-width: 100% !important;
}

.product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper {
    padding-top: 107.18113612004286% !important;
}
.product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper img {
    height: 114px;
    width: 122px;
}

@media screen and (max-width:767px) {
    .product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper img,
    .product-single__photo {
        height: 100%;
        max-height: 386px;
        width: 100%;
    }
}

.swiper-pagination-bullets .swiper-pagination-bullet:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)):not(:nth-of-type(5)) {
    display: none;
}
