/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/

.product-single__photo {
    height: 684px;
    width: 730px;
    object-fit: cover;
    max-width: 100% !important;
}

.product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper {
    padding-top: 107.18113612004286% !important;
}
.product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper img {
    height: 114px;
    width: 122px;
}

@media screen and (max-width:767px) {
    .product-single__thumbnails .swiper-container-horizontal .product-single__thumbnail__wrapper img,
    .product-single__photo {
        height: 100%;
        max-height: 386px;
        width: 100%;
    }
}

.swiper-pagination-bullets .swiper-pagination-bullet:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)):not(:nth-of-type(5)) {
    display: none;
}

/* Product accordion */
.maison-product-accordion .accordion-heading {
    display: flex;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-transform: initial;
    font-family: var(--body-font-stack);
}

.maison-product-accordion .accordion-heading .text-advert-section__icon-wrapper {
    margin-right: 1rem;
}

.shopify-product-form .maison-product-accordion .accordion-container .accordion-content {
    border-bottom: 1px solid rgba(63, 73, 76, 0.12);
}

button#cancel {
    width: 100%;
    cursor: not-allowed;
}

/* Country selector */
.maison-country-selector {
    order: 1;
    cursor: pointer;
}

.sticky-header-icons .maison-country-selector {
    order: 0;
}

@media screen and (max-width:991px) {
    .maison-country-selector {
        order: 0;
    }
}

.maison-country-selector img {
    width: 26px;
    box-shadow: 0px 0px 2px 0px rgb(66 68 90);
}

maison-curtain {
    pointer-events: none;
    opacity: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 99999999;
    transition: ease 0.3s opacity;
    opacity: .4;
    pointer-events: all;
}

maison-curtain:not(.visible),
maison-country-picker:not(.visible) {
    display: none;
}

maison-country-picker {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3),0px 4px 4px 1px rgba(0,0,0,0.1);
    max-width: 30em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2em);
    z-index: 99999999;
    border-radius: 5px;
    pointer-events: all;
}

maison-country-picker.visible {
}

maison-country-picker .disclosure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5em 2.5em;
}

maison-country-picker .footer-localization-selectors localization-form {
    pointer-events: all;
}

maison-country-picker .footer-localization-selectors localization-form .localization__list a {
    width: 100%;
}

maison-country-picker .country-picker.footer-localization-selectors,
maison-country-picker .footer-localization-selectors localization-form {
    margin: 0;
}

maison-country-picker .country-picker.footer-localization-selectors,
maison-country-picker .footer-localization-selectors localization-form,
maison-country-picker .footer-localization-selectors localization-form button {
    width: 100%;
}

maison-country-picker .footer-localization-selectors localization-form h5 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 22px;
}

maison-country-picker .footer-localization-selectors localization-form span {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4px;
}

maison-country-picker .footer-localization-selectors localization-form button {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-color: #f4f4f4 !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBzMy40IDQuNCAzLjUgNC40QzMuNyA0LjQgNy4xIDAgNy4xIDBIMHoiLz48L3N2Zz4=") !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    color: #333 !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 16px !important;
    line-height: 1.375 !important;
    max-width: 100% !important;
    min-height: unset !important;
    min-width: unset !important;
    padding: 0.3em 28px 0.3em 10px !important;
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    vertical-align: baseline !important;
    border: 1px solid #babfc3 !important;
    border-radius: 4px !important;
    width: 100% !important;
    height: 38px !important;
    margin: 25px 0 0 0 !important;
    text-align: left;
}

maison-country-picker .footer-localization-selectors localization-form button img {
}

maison-country-picker .footer-localization-selectors .localization__list {
    position: absolute;
    z-index: 999999;
    max-height: 20vh;
    background-color: #fff;
    top: 90%;
    bottom: auto;
    padding-left: 35px;
}

maison-country-picker .close-popup {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99999999;
    cursor: pointer;
}

.country-popup-active {
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.maison-country-picker--flag {
    margin-top: 45px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 25px;
}

.maison-collection-category {
    max-width: 185px;
}

.splitted-flex-slider {
    display: flex !important;
}

.splitted-flex-slider > div {
    width: 50%;
    position: relative;
}

/* Splitted image on home page */
@media screen and (max-width: 767px) {
    .splitted-flex-slider img {
        height: 100%;
        object-fit: cover;
    }
    .splitted-flex-slider>div .slider-caption:not(.slideshow-mobile-image-content).background,
    .splitted-flex-slider .slider-caption,
    .splitted-flex-slider .slider-caption.background {
        background-color: transparent!important;
        position: absolute;
        background: transparent!important;
        bottom: auto!important;
        top: 0!important;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .splitted-flex-slider a.btn {
        margin: 5px auto;
    }

    .splitted-flex-slider > div {
        width: 100%;
    }
}

/* Swiper slider */
.swiper .swiper-pagination {
  bottom: 0 !important;
}

.swiper .swiper-pagination-bullet {
  background: var(--color-scheme-light-text);
  opacity: .5;
  width: 11px;
  height: 11px;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: .8;
}

.swiper-pagination.mobile {
  display: none;
  position: relative;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .swiper-pagination.mobile {
    display: block;
  }
   .swiper-pagination.desktop {
    display: none;
  }
}

/* Buttons */
.btn.btn-secondary {
    background: transparent;
    border: 1px solid;
}

/* Gallery */
.gallery--hidden {
    display: none;
}

/* Navigation */
.nav > li.mega-menu .dropdown-submenu.six_columns {
  width: 16.6666666667%;
}

#chMenuItem-dashboard {
      background-color: yellow;
}
